body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 35px;
    background-color: darkslategray;
}
header{
    background-color: darkviolet;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*header style*/
header h1{
    color: whitesmoke;
    font-size: 50px;    
}

header img{
    border: 20px solid black;
    border-radius: 175px;
    width: 300px;
}

h1, h2{
    font-family: 'Gothic A1', sans-serif;
}

h2{
    font-size: 35px; 
    color: black;
    margin: 40px 0 10px;
}

main{
    
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
    
}
a{
    color: whitesmoke;
}
a:hover{
    color: darkviolet;
    background-color: black;
    padding: 5px;
}

footer{
    background-color: darkviolet;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p{
    margin: 0;
    
}
p.caption{
    margin: 0;
    color: gray;
}